.image-container {
  cursor: pointer;
    img {
      max-width: 200px;
      max-height: 200px;
    }
  &__footer {
    display: flex;
    justify-content: space-between;
  }
}



.modal {


  &__tags {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding-top: 16px;
  }

  .modal-footer {
    display: flex;
    justify-content: space-around;
  }


}

.modal.show {
  display: block;;
}

#ImageModalCenter {
  background:  #00000080;
}

