.search-image-container-actions {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 10px;
  gap: 30px;
}
.search-image {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
